@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

html,
body,
pre,
code,
kbd,
samp {
	font-family: "Press Start 2P";
}


.nes-icon.file::before {
width: 1px;
height: 1px;
color: transparent;
box-shadow:  1px 1px , 2px 1px #000000, 3px 1px #000000, 4px 1px #000000, 5px 1px #000000, 6px 1px #000000, 7px 1px , 8px 1px , 1px 2px , 2px 2px #000000, 3px 2px , 4px 2px , 5px 2px , 6px 2px #000000, 7px 2px #000000, 8px 2px , 1px 3px , 2px 3px #000000, 3px 3px , 4px 3px , 5px 3px , 6px 3px , 7px 3px #000000, 8px 3px , 1px 4px , 2px 4px #000000, 3px 4px , 4px 4px #000000, 5px 4px #000000, 6px 4px , 7px 4px #000000, 8px 4px , 1px 5px , 2px 5px #000000, 3px 5px , 4px 5px , 5px 5px , 6px 5px , 7px 5px #000000, 8px 5px , 1px 6px , 2px 6px #000000, 3px 6px , 4px 6px #000000, 5px 6px #000000, 6px 6px , 7px 6px #000000, 8px 6px , 1px 7px , 2px 7px #000000, 3px 7px , 4px 7px , 5px 7px , 6px 7px , 7px 7px #000000, 8px 7px , 1px 8px , 2px 8px #000000, 3px 8px #000000, 4px 8px #000000, 5px 8px #000000, 6px 8px #000000, 7px 8px #000000, 8px 8px ;
}
@supports (-moz-appearance: meterbar) {
.nes-icon.file::before {
box-shadow:  1px 1px 0 0.020em, 2px 1px 0 0.020em#000000, 3px 1px 0 0.020em#000000, 4px 1px 0 0.020em#000000, 5px 1px 0 0.020em#000000, 6px 1px 0 0.020em#000000, 7px 1px 0 0.020em, 8px 1px 0 0.020em, 1px 2px 0 0.020em, 2px 2px 0 0.020em#000000, 3px 2px 0 0.020em, 4px 2px 0 0.020em, 5px 2px 0 0.020em, 6px 2px 0 0.020em#000000, 7px 2px 0 0.020em#000000, 8px 2px 0 0.020em, 1px 3px 0 0.020em, 2px 3px 0 0.020em#000000, 3px 3px 0 0.020em, 4px 3px 0 0.020em, 5px 3px 0 0.020em, 6px 3px 0 0.020em, 7px 3px 0 0.020em#000000, 8px 3px 0 0.020em, 1px 4px 0 0.020em, 2px 4px 0 0.020em#000000, 3px 4px 0 0.020em, 4px 4px 0 0.020em#000000, 5px 4px 0 0.020em#000000, 6px 4px 0 0.020em, 7px 4px 0 0.020em#000000, 8px 4px 0 0.020em, 1px 5px 0 0.020em, 2px 5px 0 0.020em#000000, 3px 5px 0 0.020em, 4px 5px 0 0.020em, 5px 5px 0 0.020em, 6px 5px 0 0.020em, 7px 5px 0 0.020em#000000, 8px 5px 0 0.020em, 1px 6px 0 0.020em, 2px 6px 0 0.020em#000000, 3px 6px 0 0.020em, 4px 6px 0 0.020em#000000, 5px 6px 0 0.020em#000000, 6px 6px 0 0.020em, 7px 6px 0 0.020em#000000, 8px 6px 0 0.020em, 1px 7px 0 0.020em, 2px 7px 0 0.020em#000000, 3px 7px 0 0.020em, 4px 7px 0 0.020em, 5px 7px 0 0.020em, 6px 7px 0 0.020em, 7px 7px 0 0.020em#000000, 8px 7px 0 0.020em, 1px 8px 0 0.020em, 2px 8px 0 0.020em#000000, 3px 8px 0 0.020em#000000, 4px 8px 0 0.020em#000000, 5px 8px 0 0.020em#000000, 6px 8px 0 0.020em#000000, 7px 8px 0 0.020em#000000, 8px 8px 0 0.020em;
}
}